.cases{

    .row{
        .el-card{
            margin-top: 20px;
        }
    }

    .chart-cards{
        margin-bottom: 10px;
    }

    .section-title{
        color: #575656;
        margin-top: 30px;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 20px;
    }

}